* {
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body {
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #020617;
  padding: 2rem;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 0 40px rgba(0,0,0,.6);
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

input {
  background: #0f172a;
  color: white;
}

button {
  background: #6366f1;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #4f46e5;
}

.msg {
  margin-top: 1rem;
  text-align: center;
  color: #22c55e;
}
